<p>
    LSG has a well-balanced squad with a mix of power hitters, skillful all-rounders, and lethal bowlers.
    Their playing style is aggressive, with a focus on all-round performances and strategic game planning.
</p>
<h3 style="margin-left:15px;">SQUAD</h3>

<!-- Toggle Switch -->
<div id="firstFilter" class="filter-switch">
    <input checked id="option1" name="options" type="radio" />
    <label class="option" for="option1">Players</label>
    <input id="option2" name="options" type="radio" />
    <label class="option" for="option2">Support Staff</label>
    <span class="background"></span>
</div>

<!-- Filter Dropdown -->
<div class="filter-container mt-3">
    <div class="select">
        <div class="selected" id="filter-dropdown">
            <span id="selected-option">All</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="arrow">
                <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"></path>
            </svg>
        </div>
        <div class="options" id="filter-options">
            <div class="filter-option" data-txt="All">All</div>
            <div class="filter-option" data-txt="Batsman">Batsman</div>
            <div class="filter-option" data-txt="Wicket-Keeper">Wicket-Keeper</div>
            <div class="filter-option" data-txt="All-Rounder">All-Rounder</div>
            <div class="filter-option" data-txt="Bowler">Bowler</div>
        </div>
    </div>
    <button class="btn btn-warning" id="reset-filter">Reset Filter</button>
</div>